<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title> ASD Prediction</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

<body style="background-image: url('static/img/background3.jpg');">

<br>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/"> Home </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/about"> About Prediction  </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/prediction"> Autism Prediction</a>
  </li>
</ul>


<img src="static/img/header4.jpg" class="card-img-top" style="width:1360px;height:300px;" alt="Header">

<br>
<br>
<br>

<div class="text-center" style="font-family:Times New Roman;">

<h5>

ASD Prediction for toddlers is screening questions that ask a series of 10 questions, <br>
about the common behaviours of autism that appear on toddlers. It is intended for toddlers <br>
between age 12 and 30 months of age, if your child score more than 3, then there is <br>
a probability if the child has ASD traits otherwise not. <br>
You can consult the healthcare providers about the result. <br>
<br>
Please answer all the questions of the unusual behaviours of toddlers. <br>
Your answer should be either 1 or 0, which means 1 equal to Yes and 0 equal to No.<br>



 
</h5>







</div>






</body>
</html>
